body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-itim: Itim;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-mid: 1.06rem;
  --font-size-xs: 0.75rem;
  --font-size-6xl: 1.56rem;

  /* Colors */
  --color-black: #000;
  --color-dimgray-100: #707070;
  --color-dimgray-200: #6f6f6f;
  --color-dimgray-300: #555;
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0);

  /* Border radiuses */
  --br-10xl: 29px;
}
